.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-btn-width: 52px;
    height: var(--default-layout-header-height);
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    padding: 0 var(--default-layout-horizontal-spacer);
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// Logo
.logo-link {
    display: flex;
}

// Actions

.actions {
    display: flex;
    align-items: center;
}

.action-btn {
    position: relative;
    font-size: 2.6rem;
    color: #161823;
    background-color: transparent;
    padding: 4px 8px;
    margin-right: 8px;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.more-btn {
    font-size: 2rem;
    margin-left: 24px;
    background-color: transparent;
    padding: 4px 8px;
    cursor: pointer;
}

// Badge
.badge {
    position: absolute;
    color: var(--white);
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    border-radius: 16px;
    top: -2px;
    right: -5px;
    width: 28px;
    height: 20px;
    background-color: var(--primary);
}
